<div class="main-heading-wrapper">
  <h1>Champions</h1>
</div>
<form id="filter-form" [formGroup]="filterCriteraFormGroup" novalidate class="row">
  <div class="criteria-item col-md-3">
    <label>Match Type</label>
    <select class="form-control" formControlName="matchType" (change)="loadChampionWinRates()">
      <option [value]="420">Ranked Solo 5's</option>
      <option [value]="440">Ranked Flex Pick 5's</option>
      <option [value]="450">ARAM</option>
      <option [value]="400">Draft Pick, 5's</option>
      <option [value]="430">Blind Pick, 5's</option>
      <option [value]="460">Blind Pick, 3's</option>
      <option [value]="470">Ranked Pick, 3's</option>
      <option [value]="960">The Teemoing</option>
      <option [value]="950">The Teemoing - Level 100</option>
      <option [value]="1000">Project - Overdrive</option>
      <option [value]="1010">Snow Battle - ARURF</option>
    </select>
  </div>
  <div class="criteria-item col-md-3">
    <label>Rank</label>
    <select class="form-control" formControlName="rank" (change)="loadChampionWinRates()">
      <option [value]="''">All</option>
      <option *ngFor="let rank of ranks" [value]="rank.id">{{rank.name}}</option>
    </select>
  </div>
  <div class="criteria-item col-md-3">
    <label>Lane</label>
    <select class="form-control" formControlName="lane" (change)="loadChampionWinRates()">
      <option [value]="''">All</option>
      <option *ngFor="let lane of lanes" [value]="lane.id">{{lane.name}}</option>
    </select>
  </div>
  <div class="criteria-item col-md-3">
    <label>Version</label>
    <select class="form-control" formControlName="version" (change)="loadChampionWinRates()">
      <option *ngFor="let version of versions" [value]="version">{{version}}</option>
    </select>
  </div>
</form>
<app-loading-spinner [hidden]="staticChampions && championWinRates"></app-loading-spinner>
<table class="table table-sm statikk-table table-hover" id="champions-table" *ngIf="staticChampions && championWinRates">
  <thead>
    <tr>
      <th class="table-sort-header" (click)="chooseSort('name')">Champion
        <span *ngIf="sortColumn === 'name' && !reversed" class="fa fa-caret-down"></span>
        <span *ngIf="sortColumn === 'name' && reversed" class="fa fa-caret-up"></span>
      </th>
      <th class="table-sort-header numeric" (click)="chooseSort('win-rate')">Win Rate
        <span *ngIf="sortColumn === 'win-rate' && !reversed" class="fa fa-caret-down"></span>
        <span *ngIf="sortColumn === 'win-rate' && reversed" class="fa fa-caret-up"></span>
      </th>
      <th class="table-sort-header numeric" (click)="chooseSort('pick-rate')">Pick Rate
        <span *ngIf="sortColumn === 'pick-rate' && !reversed" class="fa fa-caret-down"></span>
        <span *ngIf="sortColumn === 'pick-rate' && reversed" class="fa fa-caret-up"></span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="champion-row" *ngFor="let champion of championWinRates | myChampionSort: sortColumn:reversed:staticChampions">
      <td>
        <a [routerLink]="champion.championId">
          <app-champion-image class="champion-tile-img" [championId]="champion.championId"></app-champion-image>
          <span class="champion-name">
            {{staticChampions[champion.championId].name}}
          </span>
        </a>
      </td>
      <td class="numeric">
        <span class="win-rate">{{champion.winRate | percent: '1.0-2'}}</span>
      </td>
      <td class="numeric">
        <span class="pick-rate">{{champion.playedCount / matchesPlayed * 10 | percent: '1.0-2'}}</span>
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="matchesPlayed">
  Based on data from {{matchesPlayed}} matches.
</div>